<style type="text/css">
	.content
	{
		background-color: white;
		border-radius:4px;
		color:black;
	}

	.container
	{
		font-weight: bold;
	}

	#login
	{
		display:none;
	}

	#logout
	{
		display:inline;
		padding-left: 64px;
		padding-right: 64px;
		padding-bottom: 10px;
	}

	.text
	{
		text-decoration: none;
	}

	#navBar a:nth-child(5) 
	{
    	background: white;
    	color: black;
    	font-weight: bold;
	}
</style>

	<div class="container">
	 <div class="content">
		<p class="icon"><span class="glyphicon glyphicon-info-sign"></span> About</p>
		<p id="para">Created by:<br>
		<a href="#/about/amala" class="text">Amala</a>
		<a href="#/about/sweksha" class="text"> Sweksha </a>
		<a href="#/about/avinash" class="text"> Avinash </a>
		<a href="#/about/suraj" class="text"> Suraj </a>
		<a href="#/about/rahul" class="text">Rahul</a></p>

		<p id="para">Blog:<br>
		some@address</p>

		<p id="para">GitHub:<br>
		some@address</p>

		<p id="para">Training:<br>
		some@address</p>
	 </div>
	</div>
	