<div class="container">
    <div class="lock-icon">
        <h1><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>&nbsp;Login</h1>
    </div>
    <div>
        <form name="formdata">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="Enter Email" ng-model="user.id" style="width:345px;height:34px;" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" ng-model="user.password" placeholder="Enter Password" style="width:345px;height:34px;" required>
                </div>
            </div>


            <div class="form-group row" id="login">
                <div class="offset-sm-2 col-sm-10">
                    <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="login()" ng-disabled="formdata.$invalid" data-target=".bs-example-modal-sm">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>